<html>

	<head>
	<title>Battleship game</title>
		<link type="text/css" rel="stylesheet" href="http://localhost:9292//css/stylesheet.css"/>
		<meta http-equiv="refresh" content="20">
	</head>

	<body>
	<%= yield %>
		<nav>
		</nav>
		<main>
		</main>	
	</body>

</html>