<html>
	<head>
	</head>
	<body background="http://hdwallpappers.com/images/wallpapers/Battleship-background_wallpaper.jpg">
		<h1 style="color:white">
		<%= @name.capitalize %>, you are Player 1.</h1>
		<h1 style="color:white">Are you ready to play?</h1>
	</body>
</html>