<html>
	<head>
	</head>
	<body background="http://hdwallpappers.com/images/wallpapers/Battleship-background_wallpaper.jpg", style="color:white">
		<form action="/new_game/player1">
			What's your name?
			<input type="text" name="name">
			<input type="submit">
			</form>
		</form>
	</body>
</html>